<div class="display-logs-container">
  <div class="display-logs">
    <p>log {{logNumber}}</p>
    <p>Handler: {{handler}}</p>
    <p>Dog: {{dog}}</p>
    <div>
      <span>Date: {{date}}</span>
      <span>Phase of Day: {{phase}}</span>
      <span>Duration: {{duration}}</span>
    </div>
    <div>
      <span>weather: {{weather}}</span>
      <span>wind: {{wind}}</span>
    </div>
    <div>
      <span>Problem Type: {{problem}}</span>
      <span>Age of Trail: {{trail}}</span>
    </div>
    <p>Environment:</p>
    <p>{{environment}}</p>

    <p>Performance Analysis:</p>
    <p>{{performance}}</p>

    <p>Training Goals:</p>
    <p>{{goals}}</p>
  </div>
</div>