<article class="log">
  <div class="log-content">
    <h1 class="logs-title">Log {{logNumber}}</h1>
    <p><b>Handler:</b> {{handler}}</p>
    <p><b>Dog:</b> {{dog}}</p>
    <div>
      <span><b>Date:</b> {{date}}</span>
      <span><b>Phase of Day:</b> {{phase}}</span>
      <span><b>Duration:</b> {{duration}}</span>
    </div>
    <div>
      <span><b>Weather:</b> {{weather}}</span>
      <span><b>Wind:</b> {{wind}}</span>
    </div>
    <div>
      <span><b>Problem Type:</b> {{problem}}</span>
      <span><b>Age of Trail:</b> {{trail}}</span>
    </div>
    <p><b>Environment:</b></p>
    <p>{{environment}}</p>

    <p><b>Performance Analysis:</b></p>
    <p>{{performance}}</p>

    <p><b>Training Goals:</b></p>
    <p>{{goals}}</p>
  </div>
</article>